.mov-card {
    border-radius: 6px;
    position: relative;
    background-color: #FDFDFD;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-height: 281px;
    padding-bottom: 16px;
    cursor: pointer;
}

.mov-card__img {
    width: 100%;
    height: 203px;
    border-radius: 6px;
}

.mov-card__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    margin: 16px 0 17px 16px;
    padding: 0;
    max-width: 300px;
    min-height: 20px;
}

.mov-card__like {
    border: none;
    background-image: url(../../images/save4d.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: inherit;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 39px;
    right: 16px;
    padding: 0;
    cursor: pointer;
}

.mov-card__like:hover {
    background-image: url(../../images/icon__COLOR_main-3.svg);
}

.mov-card__like_active {
    background-image: url(../../images/icon__COLOR_main-3.svg);
}

.mov-card__like_not-active {
    background-image: none;
}

.mov-card:hover .mov-card__like_not-active {
    background-image: url(../../images/d4.svg);
}

.mov-card__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
    color: #A0A0A0;
    margin-left: 16px;
    padding: 0;
}

@media screen and (max-width: 1150px) {
    .mov-card__title {
        max-width: 240px;
    }

}

@media screen and (max-width: 960px) {
    .mov-card {
        min-height: 248px;
        padding-bottom: 14px;
    }

    .mov-card__img {
        height: 190px;
    }

    .mov-card__title {
        font-size: 13px;
        line-height: 15.73px;
        margin: 14px 0 15px 14px;
        max-width: 300px;
    }

    .mov-card__duration {
        margin-left: 14px;
    }

    .mov-card__like {
        bottom: 34px;
        right: 14px;
    }
}

@media screen and (max-width: 800px) {
    .mov-card__title {
        max-width: 250px;
    }

}
@media screen and (max-width: 690px) {
    .mov-card {
        min-height: 200px;
    }
    .mov-card__title {
        max-width: 200px;
    }
}

@media screen and (max-width: 580px) {
    .mov-card {
        min-height: 150px;
    }
    .mov-card__title {
        max-width: 150px;
    }
}

@media screen and (max-width: 490px) {
    .mov-card {
        min-height: 223px;
    }

    .mov-card__like_not-active {
        background-image: url(../../images/d4.svg);
    }

    .mov-card__title {
        font-size: 12px;
        line-height: 14.52px;
        margin: 14px 0 14px 14px;
    }

    .mov-card__duration {
        font-size: 10px;
        line-height: 12.1px;
    }

    .mov-card__like {
        bottom: 32px;
        right: 10px;
    }
}