.footer {
    background-color: #FAFAFA;
    padding-top: 79px;
}

.footer__title {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    border-bottom: 1px solid #E8E8E8;
    text-align: center;
    color: hsl(0, 0%, 63%);
    margin: 0 70px 20px;
    padding: 0 0 20px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px 20px;
    padding: 0;
}

.footer__copiright {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    margin: 0;
    padding: 0;
}

.footer__links {
    margin: 0;
    padding: 0;
}

.footer__link {
    font-size: 13px;
    line-height: 15.73px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    margin: 0 0 0 20px;
    padding: 0;
}

@media screen and (max-width: 960px) {
    .footer {
        background-color: inherit;
    }

    .footer__title {
        margin: 0 30px 20px;
    }

}

@media screen and (max-width: 580px) {
    .footer__title {
        font-size: 12px;
        line-height: 14.52px;
        margin: 0 10px 30px;
        padding-bottom: 21px;
    }

    .footer__nav {
        flex-direction: column;
    }

    .footer__copiright {
        font-size: 12px;
        line-height: 14.52px;
        color: #A0A0A0;
        margin: 30px auto 10px;
    }

    .footer__links {
        order: -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    .footer__link {
        font-size: 12px;
        line-height: 14.52px;
        margin-left: 0;

    }
}